body, div, section, span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  max-height: 100vh;
  background-color: #232333;
  padding: 2px;
  
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
  margin-bottom: 16px !important;
}

#viewport {
  flex: none;
 
  aspect-ratio: 11/11;
 
  display: grid;
  grid-template-columns: repeat(11, 1fr [col-start]);
  grid-template-rows: repeat(11, 1fr [row-start]);
  gap: 2px;
  
  overflow: hidden;
}

#vitals {
  flex: none;
 
  height: 10px;
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

#health .fill {
  background-color: #FF4000;
}

#mana .fill {
  background-color: #3185FC;
}

#stamina .fill {
  background-color: #0AC848;
}

#actions {
  flex: none;
 
  aspect-ratio: 11/1;
  
  display: grid;
  grid-template-columns: repeat(11, 1fr [col-start]);
  gap: 2px;
}

#log {
  flex: 1;
  min-height: 0;
  overflow-y: scroll;
}

.action {
  background-color: #ababbb;
  border-radius: 8px;
  
  position: relative;
}

.action::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.action.selected {
  background-color: #9abb9a;
}

.action[data-action='none'] {
  background-color: #454555;
}

.action[data-action='move']::after {
  content: 'open_with';
}

.action[data-action='examine']::after {
  content: 'visibility';
}

.action[data-action='interact']::after {
  content: 'touch_app';
}

.action[data-action='settings']::after {
  content: 'settings';
}

.bar {
  flex: 1;
 
  position: relative;
  background-color: #454555;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar .fill {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 75%;
}

.bar .bar-text {
  color: white;
  z-index: 10;
}

.log {
  color: white;
}

.tile {
  background-color: black;
}