body, div, section {
  margin: 0;
  padding: 0;
}

#map {
  width: 100vw
 
  display: grid;
  grid-template-columns: repeat(10, 1fr [col-start]);
  grid-template-rows: repeat(8, 1fr [row-start]);
  column-gap: 2px;
  row-gap: 2px;
}

.tile {
  background-color: black;
}