body,
button,
div,
fieldset,
h1,
h3,
img,
main,
option,
p,
section,
select,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  color: #f2caa3;
  text-decoration: underline;
  cursor: pointer;
}

body {
  background-color: #232333;
  font-family: "Tiny5", sans-serif;
  margin: auto;
  padding: 2px;
  width: 100vw;
  max-width: 960px;
  max-height: 100vh;
  overflow: hidden;
  touch-action: manipulation;
}

button {
  font-family: "Tiny5", sans-serif;
  cursor: pointer;
  border: none;
}

button:disabled {
  opacity: 0.7;
  cursor: default;
}

button:not(:disabled):hover {
  filter: brightness(0.8);
}

fieldset {
  border-bottom: none;
  border-left: none;
  border-right: none;

  display: flex;
  align-items: start;
  padding-top: 4px;
}

fieldset > div {
  margin-right: 32px;
}

fieldset > input {
  width: 100%;
}

fieldset > select {
  width: 100%;
}

h1,
h2,
h3 {
  color: white;
  font-family: "Jacquard 12", system-ui;
}

h1 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

section {
  width: 100%;
}

select {
  font-family: "Tiny5", sans-serif;
  cursor: pointer;
  padding: 1px 2px;
}

#game {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

#game-speed .pip::after {
  font-size: 18px;
}

#main {
  margin: auto;
  height: 100vh;
  position: relative;
}

#main-menu {
  position: absolute;
  inset: 0;
  background-color: #232333;
  color: white;
  z-index: 99;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#new-game {
  position: absolute;
  inset: 0;
  background-color: #232333;
  color: white;
  z-index: 99;
  padding-top: 48px;
}

#new-game form {
  position: relative;
  height: 300px;
}

#new-game form > * {
  width: 50%;
}

#new-game form > button {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#new-game img {
  width: 48%;
  position: absolute;
  top: 0;
  right: 0;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  border: 4px solid black;
  border-radius: 16px;
  padding: 4px 4px 16px 4px;
}

#level-up {
  color: white;
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  background-color: #35354d;
  border-radius: 8px;
  padding: 16px;
  z-index: 20;

  display: flex;
  flex-direction: column;
}

#pause-menu,
#settings-menu {
  position: absolute;
  inset: 0;
  background-color: #232333;
  color: white;
  z-index: 99;
  padding-top: 48px;
}

#title {
  color: white;
  position: absolute;
  left: 50%;
  top: 10vh;
  z-index: 15;
  transform: translateX(-50%);
  pointer-events: none;
}

#viewport {
  flex-shrink: 0;
  aspect-ratio: 11/11;
  max-width: 75vh;
  max-height: 75vh;

  display: grid;
  grid-template-columns: repeat(11, 1fr [col-start]);
  grid-template-rows: repeat(11, 1fr [row-start]);
  gap: 2px;

  overflow: hidden;
}

#xp {
  margin-bottom: 16px;
}

#xp .bar {
  height: 8px;
}

#xp-bar .fill {
  background-color: #0ac848;
}

#vitals {
  height: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  margin-bottom: 16px;
}

#health .fill {
  background-color: #a82a00;
}

#mana .fill {
  background-color: #0359d3;
}

#stamina .fill {
  background-color: #05752a;
}

#actions {
  aspect-ratio: 11/1;

  display: grid;
  grid-template-columns: repeat(11, 1fr [col-start]);
  gap: 2px;
  margin-bottom: 16px;
}

#logs {
  color: white;
  white-space: pre-line;
  overflow-y: auto;
}

#person {
  width: 100%;
}

.action {
  background-color: #6b6b84;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  position: relative;
  cursor: pointer;
}

.action::after {
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.action.selected {
  background-color: #9abb9a;
}

.action[data-action="none"] {
  background-color: #454555;
}

.action[data-action="equipment"]::after {
  content: "shield";
}

.action[data-action="examine"]::after {
  content: "visibility";
}

.action[data-action="interact"]::after {
  content: "touch_app";
}

.action[data-action="left"]::after {
  content: "front_hand";
  transform: scaleX(-1) translate(50%, -50%);
}

.action[data-action="move"]::after {
  content: "open_with";
}

.action[data-action="right"]::after {
  content: "front_hand";
}

.action[data-action="settings"]::after {
  content: "settings";
}

.action[data-action="skill"]::after {
  content: "point_scan";
}

.action.hide-icon::after {
  content: "";
}

.action span {
  position: absolute;
  background-color: #454555;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  border-radius: 2px;
  cursor: pointer;
  aspect-ratio: 1/1;
  width: 16px;
}

.action .se {
  bottom: -8px;
  color: white;
  font-size: 12px;
  text-align: center;
  right: 0;
}

.bar {
  flex: 1;

  position: relative;
  background-color: #454555;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bar .fill {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 75%;
}

.bar .bar-text {
  color: white;
  z-index: 10;
}

.bold {
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  padding: 0 32px;
  width: 100%;
  padding-bottom: 32px;
}

.buttons button {
  background-image: url("images/dungeon-wall.png");
  background-size: contain;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  font-size: 2em;
  margin-bottom: 16px;
  padding: 4px 8px;
  background-color: #696570;
  color: white;
}

.close-button {
  background-color: #ff5555;
  border-radius: 4px;
  color: black;
  cursor: pointer;
}

.character {
  position: relative;
}

.contents {
  flex: 1 0 auto;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.empty-hand {
  background-image: url("images/empty-hand.png");
}

.entity {
  display: none;
  animation-fill-mode: backwards;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.entity.highlight {
  display: block !important;
}

.entity span {
  color: white;
  font-family: sans-serif;
  font-size: 10px;
  position: absolute;
  height: 16px;
  width: 16px;
}

.entity .ne {
  top: -0.7em;
  right: -8px;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.entity .nw {
  top: -0.7em;
  left: -8px;
}

.entity .se {
  bottom: -0.7em;
  right: -8px;
}

.entity .sw {
  bottom: -0.7em;
  left: -8px;
}

.entity[data-action="rest"] .ne {
  background-image: url("images/sleeping.png");
}

.fade {
  opacity: 0;
  animation: fade-anim 5s ease forwards;
}

@keyframes fade-anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 16px;
}

.form-inputs > * {
  margin: 32px 0;
  width: 100%;
}

.game-title {
  color: white;
  font-family: "Jacquard 12", system-ui;
  font-size: 6rem;
  text-align: center;
}

.hidden {
  display: none !important;
}

.in-range {
  cursor: pointer;
  position: relative;
}

.in-range::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: green;
  opacity: 0.25;
}

.inventory-button,
.slot {
  aspect-ratio: 1/1;
  background-color: #454555;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #232333;
  border-radius: 4px;
  cursor: pointer;
  image-rendering: pixelated;
  margin-right: 6px;
  padding: 4px;
  position: relative;
  width: calc((100% - 30px) / 6);
}

.inventory-button[data-count]::after {
  background-color: #454555;
  border-radius: 2px;
  color: white;
  content: attr(data-count);
  font-family: sans-serif;
  font-size: 10px;
  padding: 2px 4px;
  position: absolute;
  bottom: -0.7em;
  right: -0.5em;
}

.item-holder {
  position: absolute;
  inset: 10%;
  background-color: #35354d;
  border-radius: 8px;
  padding: 16px;
  z-index: 20;

  display: flex;
  flex-direction: column;
}

.log.danger {
  color: #ff5555;
}

.log.end.player {
  color: #30a8dd;
}

.log.safe {
  color: #55ff55;
}

.log.start.player {
  color: #55ccff;
}

.log.warn {
  color: #ffeb33;
}

.memory {
  opacity: 0.5;
}

.no-highlight {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}

.pip {
  flex: 1 1 auto;
  border-radius: 4px;
  background-color: #454555;
  position: relative;
}

.pip::after {
  color: white;
  font-size: 12px;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.pip:disabled {
  opacity: 0.2;
}

.pip.bonus {
  opacity: 0.5;
}

.pip.bonus,
.pip.filled {
  background-color: #0ac848;
}

.pip.fast::after {
  content: "directions_run";
}

.pip.minus {
  background-color: #a82a00;
  border: none;
  position: relative;
}

.pip.minus::after {
  content: "remove";
}

.pip.plus {
  background-color: #05752a;
  border: none;
  position: relative;
}

.pip.plus::after {
  content: "add";
}

.pip.slow::after {
  content: "directions_walk";
}

.slot {
  position: absolute;
}

.slot.chest {
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
}

.slot.feet {
  bottom: 5%;
}

.slot.feet.left {
  left: 30%;
  transform: translateX(-50%);
}

.slot.feet.right {
  right: 30%;
  transform: translateX(50%);
}

.slot.hands {
  bottom: 33%;
}

.slot.hands.left {
  left: 20%;
  transform: translateX(-50%);
}

.slot.hands.right {
  right: 20%;
  transform: translateX(50%);
}

.slot.head {
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
}

.slot.legs {
  bottom: 28%;
  left: 50%;
  transform: translateX(-50%);
}

.submit {
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #05752a;
  padding: 4px 0;
  width: 100%;
}

.submit:disabled {
  background-color: #454555;
}

.stat {
  width: 100%;
}

.stat-bar {
  height: 3vh;
  display: flex;
  gap: 2px;
  align-items: stretch;
  justify-content: space-between;
}

.tile {
  aspect-ratio: 1 / 1;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  position: relative;
}

.tile::before {
  content: " ";
  background-color: cyan;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.tile:has(.entity.highlight)::before {
  opacity: 0.5;
}

.tile:has(.entity.highlight) > .entity:not(.highlight) {
  display: none !important;
}

.top-bar {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #232333;
  justify-content: space-between;
  padding-bottom: 4px;
}

.vbox {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 8px 0;
}

.vbox > * {
  margin-bottom: 8px;
}

.vbox > *:last-child {
  margin-bottom: 0;
}
