body,
div,
main,
section,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 100vw;
  max-width: 960px;
  max-height: 100vh;
  background-color: #232333;
  padding: 2px;

  overflow: hidden;
}

section {
  width: 100%;
  margin-bottom: 16px !important;
}

#main {
  margin: auto;
  height: 100vh;
}

#game {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#viewport {
  flex-shrink: 0;
  aspect-ratio: 11/11;
  max-width: 75vh;
  max-height: 75vh;

  display: grid;
  grid-template-columns: repeat(11, 1fr [col-start]);
  grid-template-rows: repeat(11, 1fr [row-start]);
  gap: 2px;

  overflow: hidden;
}

#vitals {
  height: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

#health .fill {
  background-color: #ff4000;
}

#mana .fill {
  background-color: #3185fc;
}

#stamina .fill {
  background-color: #0ac848;
}

#actions {
  aspect-ratio: 11/1;

  display: grid;
  grid-template-columns: repeat(11, 1fr [col-start]);
  gap: 2px;
}

#logs {
  white-space: pre-line;
  overflow-y: auto;
}

.action {
  background-color: #ababbb;
  border-radius: 8px;

  position: relative;
}

.action::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.action.selected {
  background-color: #9abb9a;
}

.action[data-action="none"] {
  background-color: #454555;
}

.action[data-action="move"]::after {
  content: "open_with";
}

.action[data-action="examine"]::after {
  content: "visibility";
}

.action[data-action="interact"]::after {
  content: "touch_app";
}

.action[data-action="settings"]::after {
  content: "settings";
}

.bar {
  flex: 1;

  position: relative;
  background-color: #454555;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bar .fill {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 75%;
}

.bar .bar-text {
  color: white;
  z-index: 10;
}

.entity {
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.in-range {
  cursor: pointer;
  position: relative;
}

.in-range::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: green;
  opacity: 0.25;
}

.log {
  color: white;
}

.memory {
  opacity: 0.5;
}

.tile {
  aspect-ratio: 1 / 1;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  position: relative;
}
