body,
div,
main,
p,
section,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  color: #f2caa3;
  text-decoration: underline;
}

body {
  margin: auto;
  width: 100vw;
  max-width: 960px;
  max-height: 100vh;
  background-color: #232333;
  padding: 2px;

  overflow: hidden;
}

section {
  width: 100%;
  margin-bottom: 16px !important;
}

#main {
  margin: auto;
  height: 100vh;
}

#game {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#viewport {
  flex-shrink: 0;
  aspect-ratio: 11/11;
  max-width: 75vh;
  max-height: 75vh;

  display: grid;
  grid-template-columns: repeat(11, 1fr [col-start]);
  grid-template-rows: repeat(11, 1fr [row-start]);
  gap: 2px;

  overflow: hidden;
}

#vitals {
  height: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

#health .fill {
  background-color: #ff4000;
}

#mana .fill {
  background-color: #3185fc;
}

#stamina .fill {
  background-color: #0ac848;
}

#actions {
  aspect-ratio: 11/1;

  display: grid;
  grid-template-columns: repeat(11, 1fr [col-start]);
  gap: 2px;
}

#logs {
  color: white;
  white-space: pre-line;
  overflow-y: auto;
}

.action {
  background-color: #ababbb;
  border-radius: 8px;

  position: relative;
}

.action::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.action.selected {
  background-color: #9abb9a;
}

.action[data-action="none"] {
  background-color: #454555;
}

.action[data-action="examine"]::after {
  content: "visibility";
}

.action[data-action="interact"]::after {
  content: "touch_app";
}

.action[data-action="left"]::after {
  content: "front_hand";
  transform: scaleX(-1) translate(50%, -50%);
}

.action[data-action="move"]::after {
  content: "open_with";
}

.action[data-action="right"]::after {
  content: "front_hand";
}

.action[data-action="settings"]::after {
  content: "settings";
}

.bar {
  flex: 1;

  position: relative;
  background-color: #454555;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bar .fill {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 75%;
}

.bar .bar-text {
  color: white;
  z-index: 10;
}

.bold {
  font-weight: bold;
}

.entity {
  display: none;
  animation-fill-mode: backwards;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.entity span {
  color: white;
  font-family: sans-serif;
  position: absolute;
}

.entity .ne {
  top: -0.7em;
  right: 0;
}

.entity .nw {
  top: -0.7em;
  left: 0;
}

.entity .se {
  bottom: -0.7em;
  right: 0;
}

.entity .sw {
  bottom: -0.7em;
  left: 0;
}

.entity[data-label="0"] .se {
  content: "A";
}

.entity[data-label="1"] .se {
  content: "B";
}

.entity[data-label="2"] .se {
  content: "C";
}

.entity[data-label="3"] .se {
  content: "D";
}

.entity[data-label="4"] .se {
  content: "E";
}

.entity[data-label="5"] .se {
  content: "F";
}

.entity[data-label="6"] .se {
  content: "G";
}

.entity[data-label="7"] .se {
  content: "H";
}

.entity[data-label="8"] .se {
  content: "I";
}

.entity[data-label="9"] .se {
  content: "J";
}

.entity[data-label="10"] .se {
  content: "K";
}

.entity[data-label="11"] .se {
  content: "L";
}

.entity[data-label="12"] .se {
  content: "M";
}

.entity[data-label="13"] .se {
  content: "N";
}

.entity[data-label="14"] .se {
  content: "O";
}

.entity[data-label="15"] .se {
  content: "P";
}

.entity[data-label="16"] .se {
  content: "Q";
}

.entity[data-label="17"] .se {
  content: "R";
}

.entity[data-label="18"] .se {
  content: "S";
}

.entity[data-label="19"] .se {
  content: "T";
}

.entity[data-label="20"] .se {
  content: "U";
}

.entity[data-label="21"] .se {
  content: "V";
}

.entity[data-label="22"] .se {
  content: "W";
}

.entity[data-label="23"] .se {
  content: "X";
}

.entity[data-label="24"] .se {
  content: "Y";
}

.entity[data-label="25"] .se {
  content: "Z";
}

.highlight::before {
  content: " ";
  position: absolute;
  inset: 0;
  opacity: 0.5;
  background-color: red;
  animation: fade 1s linear backwards;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

.in-range {
  cursor: pointer;
  position: relative;
}

.in-range::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: green;
  opacity: 0.25;
}

.log.danger {
  color: #ff5555;
}

.log.end.player {
  color: #30a8dd;
}

.log.safe {
  color: #55ff55;
}

.log.start.player {
  color: #55ccff;
}

.log.warn {
  color: #ffeb33;
}

.memory {
  opacity: 0.5;
}

.tile {
  aspect-ratio: 1 / 1;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  position: relative;
}
