body,
div,
h3,
main,
p,
section,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  color: #f2caa3;
  text-decoration: underline;
}

body {
  margin: auto;
  width: 100vw;
  max-width: 960px;
  max-height: 100vh;
  background-color: #232333;
  padding: 2px;

  overflow: hidden;
}

h1,
h2,
h3 {
  color: white;
}

section {
  width: 100%;
  margin-bottom: 16px !important;
}

#main {
  margin: auto;
  height: 100vh;
  position: relative;
}

#game {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#inventory {
  position: absolute;
  inset: 10%;
  background-color: #35354d;
  border-radius: 8px;
  padding: 16px;
  z-index: 20;

  display: flex;
  flex-direction: column;
}

#viewport {
  flex-shrink: 0;
  aspect-ratio: 11/11;
  max-width: 75vh;
  max-height: 75vh;

  display: grid;
  grid-template-columns: repeat(11, 1fr [col-start]);
  grid-template-rows: repeat(11, 1fr [row-start]);
  gap: 2px;

  overflow: hidden;
}

#vitals {
  height: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

#health .fill {
  background-color: #ff4000;
}

#mana .fill {
  background-color: #3185fc;
}

#stamina .fill {
  background-color: #0ac848;
}

#actions {
  aspect-ratio: 11/1;

  display: grid;
  grid-template-columns: repeat(11, 1fr [col-start]);
  gap: 2px;
}

#logs {
  color: white;
  white-space: pre-line;
  overflow-y: auto;
}

.action {
  background-color: #6b6b84;
  border-radius: 8px;

  position: relative;
}

.action::after {
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.action.selected {
  background-color: #9abb9a;
}

.action[data-action="none"] {
  background-color: #454555;
}

.action[data-action="examine"]::after {
  content: "visibility";
}

.action[data-action="interact"]::after {
  content: "touch_app";
}

.action[data-action="left"]::after {
  content: "front_hand";
  transform: scaleX(-1) translate(50%, -50%);
}

.action[data-action="move"]::after {
  content: "open_with";
}

.action[data-action="right"]::after {
  content: "front_hand";
}

.action[data-action="settings"]::after {
  content: "settings";
}

.action span {
  position: absolute;
  background-color: #454555;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  border-radius: 2px;
  cursor: pointer;
  aspect-ratio: 1/1;
  width: 16px;
}

.action .se {
  bottom: -8px;
  right: 0;
}

.bar {
  flex: 1;

  position: relative;
  background-color: #454555;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bar .fill {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 75%;
}

.bar .bar-text {
  color: white;
  z-index: 10;
}

.bold {
  font-weight: bold;
}

.close-button {
  background-color: #ff5555;
  border-radius: 4px;
  color: black;
  cursor: pointer;
}

.contents {
  flex: 1 0 auto;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.empty-hand {
  background-image: url("images/empty-hand.png");
}

.entity {
  display: none;
  animation-fill-mode: backwards;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.entity span {
  color: white;
  font-family: sans-serif;
  font-size: 10px;
  position: absolute;
}

.entity .ne {
  top: -0.7em;
  right: 0;
}

.entity .nw {
  top: -0.7em;
  left: 0;
}

.entity .se {
  bottom: -0.7em;
  right: 0;
}

.entity .sw {
  bottom: -0.7em;
  left: 0;
}

.hidden {
  display: none !important;
}

.highlight::before {
  content: " ";
  position: absolute;
  inset: 0;
  opacity: 0.5;
  background-color: red;
  animation: fade 1s linear backwards;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

.in-range {
  cursor: pointer;
  position: relative;
}

.in-range::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: green;
  opacity: 0.25;
}

.inventory-button {
  aspect-ratio: 1/1;
  background-color: #454555;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #232333;
  border-radius: 4px;
  cursor: pointer;
  image-rendering: pixelated;
  margin-right: 6px;
  padding: 4px;
  position: relative;
  width: calc((100% - 60px) / 10);
}

.inventory-button[data-count]::after {
  background-color: #454555;
  border-radius: 2px;
  color: white;
  content: attr(data-count);
  font-family: sans-serif;
  font-size: 10px;
  padding: 2px 4px;
  position: absolute;
  bottom: -0.7em;
  right: -0.5em;
}

.log.danger {
  color: #ff5555;
}

.log.end.player {
  color: #30a8dd;
}

.log.safe {
  color: #55ff55;
}

.log.start.player {
  color: #55ccff;
}

.log.warn {
  color: #ffeb33;
}

.memory {
  opacity: 0.5;
}

.no-highlight {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}

.tile {
  aspect-ratio: 1 / 1;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  position: relative;
}

.top-bar {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #232333;
  justify-content: space-between;
  padding-bottom: 4px;
}
