body, div, section {
  margin: 0;
  padding: 0;
}

#map {
  width: 100vw;
  aspect-ratio: 10/8;
  background-color: green;
 
  display: grid;
  grid-template-columns: repeat(10, 1fr [col-start]);
  grid-template-rows: repeat(8, 1fr [row-start]);
  gap: 2px;
}

.tile {
  background-color: black;
}