body, div, section {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #232333;
}

section {
  width: 100vw;
  margin-bottom: 4px;
  padding: 2px;
}

#map {
  aspect-ratio: 11/9;
 
  display: grid;
  grid-template-columns: repeat(11, 1fr [col-start]);
  grid-template-rows: repeat(9, 1fr [row-start]);
  gap: 2px;
}

#actions {
  aspect-ratio: 11/1;
  
  display: grid;
  grid-template-columns: repeat(11, 1fr [col-start]);
  gap: 2px;
}

.action {
  background-color: #ababbb;
  border-radius: 4px;
  
  display: flex;
  align-content: center;
  justify-content: center;
}

.action .selected {
  background-color: #9abb9a;
}

.action[data-action='move']::after {
  content: 'open_with';
}

.action[data-action='settings']::after {
  content: 'settings';
}

.tile {
  background-color: black;
}